<a href="https://colab.research.google.com/github/rparmar16/ENSF694_Lab2/blob/main/Working_with_Pandas_and_EDA_Lab_1_ENSF_611.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Filtering the data:

The dataset I will be using: [link](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview)

Data Description: [link](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data)

In [ ]:
# import the packages

In [ ]:
# read the dataset

In [ ]:
# show all the columns
pd.set_option('display.max_columns', None)

In [ ]:
# see the first 5 records

In [ ]:
# are there any duplicates?

In [ ]:
# do we have any duplicates in Id? What about Neighborhood?

In [ ]:
# remove duplicates in Neighborhood by keeping only the first record for each
# Neighborhood and view the new dataset
# do not over-write the dataframe

In [ ]:
# How many listings do we have?

In [ ]:
# How many columns do we have?

In [ ]:
# use .shape to see the column and rows length

In [ ]:
# take a look at the datatypes

In [ ]:
# Describe numeric columns

In [ ]:
# describe only the SalePrice

In [ ]:
# Convert 'YearBuilt' type to int

In [ ]:
# which are the oldest houses?

In [ ]:
# take a look at only one neighborhood (NoRidge)

In [ ]:
# take a look at only another neighborhood (NoRidge)

In [ ]:
# how many houses are there in this neighborhood?

In [ ]:
# first house that was built in NoRidge neighborhood

In [ ]:
# first house that was built in NoRidge neighborhood

In [ ]:
# Let's take a look at the NoRidge neighborhood for houses that
# were remodelled after 1998

In [ ]:
# another way of doing this?

In [ ]:
# How many houses were built from 1950 through 1959?

In [ ]:
# another way of doing this?

In [ ]:
# how many fireplaces can a house have?

In [ ]:
# how many types of kitchen quality do we have?

In [ ]:
# how many types of heating do we have?

In [ ]:
# how to view only houses that are heated by gas?

In [ ]:
# using lambda and a function change 2Story to 2Storey and 1Story to 1Storey

# see what the values are in this column


# create a function that can change this value
def change_spelling(style_name):
    """
    changes the spelling of story to storey in a string
    input: string
    output: modified name of the style
    """
    if style_name == '2Story': return '2Storey'
    elif style_name == '1Story': return '1Storey'
    else: return style_name

# apply the changes on HouseStyle


# print the new values

## Your turn...

Dataset: [link](https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows)

In [ ]:
# read the dataset

In [ ]:
# see the first few records

In [ ]:
# How many movies are there?

In [ ]:
# How many columns do we have?

In [ ]:
# are there any duplicates?

In [ ]:
# are there any duplicates in the Released_Year column?

In [ ]:
# take a look at the datatypes

In [ ]:
# Convert 'Released_Year' to int


# Convert 'Gross' to float


# Now, you can check the data types of your DataFrame

In [ ]:
# take a look at the record for Fight Club

In [ ]:
# which are the movies released after the year 2000?

In [ ]:
# which are the 2 most famouse ones? (look at the number of votes!)

In [ ]:
# look at the oldest movie in this dataset. How to see the latest?

In [ ]:
# group the movies based on the first actor and sort by the number of movies
# they have played in

In [ ]:
# What are the Certificate types?

In [ ]:
# Which movie descriptions have NASA in their Overview?

In [ ]:
# create a function that changes "The Dark Knight" movie name to "Batman"
# in the Series_Title

def change_spelling(name):
    """
    changing name of The Dark Knight to Batman
    """



# apply the changes on Series_Title

In [ ]:
# print the 'Series_Title' in df_movies to see the value has changed

### Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# data manipulation
# create a column called decade that has the decade in which the house was built

In [ ]:
# Using groupby(), plot the number of houses built each decade

In [ ]:
# Using groupby(), plot the number of 2Storey houses built each decade

### df.corr()

The correlation matrix is a square matrix that displays the pairwise correlations between all numeric columns in the DataFrame. It is a valuable tool for understanding the relationships and dependencies between different variables in your dataset.

The correlation coefficient, which ranges from -1 to 1, quantifies the strength and direction of the linear relationship between two variables:

A value of 1 indicates a perfect positive linear correlation, meaning that as one variable increases, the other also increases proportionally.
A value of -1 indicates a perfect negative linear correlation, meaning that as one variable increases, the other decreases proportionally.
A value close to 0 indicates a weak or no linear correlation between the variables.

In [ ]:
# Correlation map to see how features are correlated with SalePrice

In [ ]:
# plot GrLivArea against SalePrice
# do you see anything out of the ordinary?

In [ ]:
# Deleting outliers


# Plot the new values

 ### displot (short for "distribution plot")

 This is a function used to visualize the univariate distribution of a dataset. It allows you to plot the distribution of a single continuous variable, providing insights into its underlying data distribution, including the shape, central tendency, and spread of the data.

 **data** is the data you want to visualize. It can be a Pandas Series, NumPy array, or a list containing your dataset.

**bins** (optional) controls the number of bins or intervals into which the data is divided for the histogram. More bins provide finer granularity.

**kde** (optional) stands for "Kernel Density Estimation" and is a way to estimate the probability density function of the data. Setting it to True adds a smoothed curve to the plot, which can provide additional insights into the data's distribution.

In [ ]:
# let's make a histogram for sales

The catplot function is a powerful and flexible way to create categorical plots. Categorical plots are used to visualize the distribution of one variable within different categories or the relationship between two categorical variables.

In [ ]:
feature = 'OverallQual' # add the name of the column to this list - 'MoSold'

### Your Turn

In [ ]:
# create a column called decade that has the decade in which the house was built

In [ ]:
# Using groupby(), plot the number of movies
# that have been made each decade in the history of cinema.

In [ ]:
# build the correlation matrix and plot it with seaborn!
#Correlation map to see how features are correlated with SalePrice

In [ ]:
# histogram

 ## Missing Values
 When handling these null values we have to divide them into three categories. [Reference](https://cjasn.asnjournals.org/content/9/7/1328.abstract)


![pic](https://github.com/mitramir55/teaching_material/blob/master/missing%20values.png?raw=true)


**Missing Completely at Random (MCAR):** This means that there is no relationship between the missing values themselves and any other feature or observation in the dataset. These are just missing randomly and without any pattern. Like when a questionnaire is lost or some parts of a survey paper are soaked and you cannot read what it's saying. Therefore we can simply ignore them.

**Missing at Random (MAR):** Means there is a pattern and relationship between the missing values and the observed values, like when the survey is about mental and physical health, male participants are less likely to know their waist circumference or boob size. We can again ignore these missing values and drop the feature or examples from our dataset. In this case we say that missing values are only related to the observed features (gender).

**Missing Not at Random (MNAR):** This is a missing value that cannot and should not be ignored. We have to model and see when were the values missing and what was the reason for it. For instance, men might not answer questions about depression because of their depression. In this case we say that the missing values are related to themselves (depression) as well as to the observed features (gender).

In [ ]:
# how to see the total number of null values?

In [ ]:
# which one has the most null values?

In [ ]:
# a function for an interpretable visualization of nulls
def detect_nulls(df, n=30):
    """
    A function for viewing the null values present in the dataset
    input: takes in a dataframe and the n for the n most empty columns
    output: a dataframe with the count and precentage of nulls
    """
    df_nulls = df.isnull().sum()
    df_nulls = pd.DataFrame(np.c_[df_nulls, np.round(df_nulls/len(df) *100, 2)],
                                    columns=['count', 'percentage'], index = df_nulls.index)
    df_nulls.sort_values(by = df_nulls.columns[0], ascending=False, inplace = True)

    df_nulls = df_nulls.loc[[i for i in df_nulls.index if (df_nulls.loc[i, :] != 0).any() & (i not in ['SalePrice'])]]

    print('How many features had at least one null value?', len(df_nulls))
    print('{} most empty features of all:'.format(df_nulls.index[0]))
    return df_nulls[:n]

In [ ]:
detect_nulls(df, n=40)

In [ ]:
df

In [ ]:
# fill the null values in PoolQC and MiscFeature with None

In [ ]:
# Write a for loop to fill the nulls values in
# 'MiscFeature', 'Fence', 'Alley', 'FireplaceQu'
# with None

### Stripplot

x='category_column' specifies the categorical variable to be plotted on the x-axis. This is typically a column containing category labels.
y='numeric_column' specifies the numeric variable to be plotted on the y-axis. This is the data you want to visualize within each category.
data=data specifies the DataFrame containing your data.

### features to inspect -> 'PoolQC', 'MiscFeature', 'Alley'

In [ ]:
# create a seaborn plot for the number of nulls

In [ ]:
# create a seaborn plot for the number of nulls

In [ ]:
# Write a for loop to fill the nulls values in
# 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond'
# with None

In [ ]:
# some have to be filled with zero
# 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF','TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath'

In [ ]:
# what should be done for MSZoning (The general zoning classification)?

In [ ]:
# let's plot the distribution

# Create a count plot

# Optional: Customize the plot


# Show the plot

In [ ]:
# take a look at the most frequent value

In [ ]:
# fill the MSZoning column with mode

In [ ]:
# so how to drop a column?

In [ ]:
# look at the Electrical column and see what can be done

In [ ]:
# see the values in this column

In [ ]:
# drop the record with null in it

In [ ]:
# check and see if we have dropped it correctly

### Your Turn

In [ ]:
# see which columns have null?

In [ ]:
# drop the record that doesn't have Released_Year

In [ ]:
# inspect Meta_score

In [ ]:
# fill it with the mean value

In [ ]:
# see if we have any null values

### Reference

* Brandon Rhodes - Pandas From The Ground Up - PyCon 2015: [link](https://www.youtube.com/watch?v=5JnMutdy6Fw&list=PL2vN4d3B5vi5gCdw4I-RAJonYAhH7k8bp&ab_channel=PyCon2015)
* Missing values – Mitra’s Kaggle Tutorial: [link](https://www.kaggle.com/code/mitramir5/missing-values-ordinal-data-and-stories)
* Crash Course Statistics: [link](https://www.youtube.com/watch?v=zouPoc49xbk&list=PL8dPuuaLjXtNM_Y-bUAhblSAdWRnmBUcr&ab_channel=CrashCourse)